<!DOCTYPE html>
<html>
<head>
    <title>Temperature</title>
</head>

<body>
    <section>
        <h1 id="temperature"></h1>
        <p>
            <button id="turn_up">Turn Up</button>
            <button id="turn_down">Turn Down</button>
            <button id="reset">Reset</button>
            <button id="togglePSM">Toggle Power Saving Mode</button>
            Power saving mode is <span id="power-saving-status">on</span>
        </p>
    </section>

    <script src="../src/Thermostat.js"></script>
</body>
</html>
    